{
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "extends": "eslint:recommended",
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-uses-react": 1
  },
  "globals": {
    "jQuery": true,
    "$": true
  }
}
